<a href="https://colab.research.google.com/github/sac-1999/Pandas-Cheat-Sheet/blob/main/04_Converting_a_numeric_column_to_categorical_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import os
import tarfile
import urllib.request

In [38]:
house_url = 'https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.tgz'
HOUSING_PATH = os.path.join('datasets', 'housing')

In [39]:
def fetch_housing_data(url = house_url, housing_path = HOUSING_PATH):
  os.makedirs(housing_path , exist_ok = True)
  tgz_path = os.path.join(housing_path , 'housing.tgz')
  urllib.request.urlretrieve(house_url, tgz_path)
  housing_file = tarfile.open(tgz_path)
  housing_file.extractall(housing_path)
  housing_file.close()

In [40]:
fetch_housing_data()

In [41]:
import pandas as pd

In [42]:
def load_housing_csv(housing_path = HOUSING_PATH):
  csv_path = os.path.join(housing_path, 'housing.csv')
  return pd.read_csv(csv_path)

In [43]:
df = load_housing_csv()

In [44]:
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [45]:
df.ocean_proximity.value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [46]:
import matplotlib.pyplot as plt

In [52]:
#df.hist(bins = 40,figsize=(20,15))

In [48]:
import numpy as np
np.random.permutation(100)

array([ 8, 68, 47, 64, 91, 66, 87, 29, 76, 31, 84, 77, 38, 96, 30, 48, 33,
       45, 69, 60,  7, 49, 19, 11, 23, 93, 25, 78, 92, 98, 53, 57, 46, 17,
        0, 79, 81, 36,  5, 99, 73, 94, 67, 52, 15, 58, 63,  4, 13, 35, 21,
       55, 27,  9, 43, 95, 65, 37, 56,  2, 51, 97, 85, 82, 62, 54, 86, 26,
       61, 39, 71, 72, 42, 16, 32, 44, 24, 88,  3, 34, 40, 20,  1, 74, 41,
       14, 83, 18, 50, 80, 70, 10, 90,  6, 28, 59, 22, 12, 75, 89])

In [49]:
df

       longitude  latitude  ...  median_house_value  ocean_proximity
0        -122.23     37.88  ...            452600.0         NEAR BAY
1        -122.22     37.86  ...            358500.0         NEAR BAY
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20635    -121.09     39.48  ...             78100.0           INLAND
20636    -121.21     39.49  ...             77100.0           INLAND
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[20640 rows x 10 columns]

In [53]:
df['median_income_category'] = pd.cut(df['median_income'],
       bins= [0., 1.5, 3.0, 4.5, 6., np.inf],
       labels = [1,2,3,4,5])

In [55]:
df.head()

   longitude  latitude  ...  ocean_proximity  median_income_category
0    -122.23     37.88  ...         NEAR BAY                       5
1    -122.22     37.86  ...         NEAR BAY                       5
2    -122.24     37.85  ...         NEAR BAY                       5
3    -122.25     37.85  ...         NEAR BAY                       4
4    -122.25     37.85  ...         NEAR BAY                       3

[5 rows x 11 columns]