<a href="https://colab.research.google.com/github/sac-1999/Pandas-Cheat-Sheet/blob/main/05_Stratified_Shuffle_Split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
import os
import tarfile
import urllib.request

In [75]:
house_url = 'https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.tgz'
HOUSING_PATH = os.path.join('datasets', 'housing')

In [76]:
def fetch_housing_data(url = house_url, housing_path = HOUSING_PATH):
  os.makedirs(housing_path , exist_ok = True)
  tgz_path = os.path.join(housing_path , 'housing.tgz')
  urllib.request.urlretrieve(house_url, tgz_path)
  housing_file = tarfile.open(tgz_path)
  housing_file.extractall(housing_path)
  housing_file.close()

In [77]:
fetch_housing_data()

In [78]:
import pandas as pd

In [79]:
def load_housing_csv(housing_path = HOUSING_PATH):
  csv_path = os.path.join(housing_path, 'housing.csv')
  return pd.read_csv(csv_path)

In [80]:
df = load_housing_csv()

In [81]:
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [82]:
df.ocean_proximity.value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [83]:
import matplotlib.pyplot as plt

In [84]:
#df.hist(bins = 40,figsize=(20,15))

In [85]:
import numpy as np
np.random.permutation(100)

array([54, 88, 32, 66, 34, 40, 42, 74,  8, 86, 92, 69, 97,  4,  9, 41, 37,
       70, 29, 26, 95, 62, 16, 20, 30,  6, 46, 96, 65, 11, 76, 50, 99, 60,
       78,  0, 84, 59, 14, 17, 90, 72, 98, 43,  3, 36, 93, 77, 85, 22, 82,
       18, 38, 15,  7, 24, 28, 89, 12, 94, 35, 47, 44, 79, 31, 53, 21, 27,
        1, 58, 23, 63, 71, 55, 64, 45,  5, 13, 87, 57, 19, 56, 33, 81, 48,
       49, 75,  2, 83, 52, 73, 39, 67, 10, 61, 91, 80, 68, 51, 25])

In [86]:
df

       longitude  latitude  ...  median_house_value  ocean_proximity
0        -122.23     37.88  ...            452600.0         NEAR BAY
1        -122.22     37.86  ...            358500.0         NEAR BAY
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20635    -121.09     39.48  ...             78100.0           INLAND
20636    -121.21     39.49  ...             77100.0           INLAND
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[20640 rows x 10 columns]

In [87]:
df['median_income_category'] = pd.cut(df['median_income'],
       bins= [0., 1.5, 3.0, 4.5, 6., np.inf],
       labels = [1,2,3,4,5])

In [88]:
df.head()

   longitude  latitude  ...  ocean_proximity  median_income_category
0    -122.23     37.88  ...         NEAR BAY                       5
1    -122.22     37.86  ...         NEAR BAY                       5
2    -122.24     37.85  ...         NEAR BAY                       5
3    -122.25     37.85  ...         NEAR BAY                       4
4    -122.25     37.85  ...         NEAR BAY                       3

[5 rows x 11 columns]

# Stratified K- Fold Split

In [121]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state = 0)
final = split.split(df,df['median_income_category'])

In [122]:
for i in final:
  print(i[0].shape, i[1].shape)
  strat_train_set = df.loc[i[0]]
  strat_test_set = df.loc[i[1]]

(16512,) (4128,)

In [138]:
strat_test_set.describe()

         longitude     latitude  ...  median_income  median_house_value
count  4128.000000  4128.000000  ...    4128.000000         4128.000000
mean   -119.598559    35.667660  ...       3.872602       207568.918605
std       2.000873     2.129195  ...       1.896624       115158.017450
min    -124.260000    32.560000  ...       0.499900        14999.000000
25%    -121.830000    33.940000  ...       2.566500       119950.000000
50%    -118.560000    34.290000  ...       3.537750       181650.000000
75%    -118.020000    37.720000  ...       4.728600       264750.000000
max    -114.310000    41.860000  ...      15.000100       500001.000000

[8 rows x 9 columns]

In [140]:
strat_train_set.describe()

          longitude      latitude  ...  median_income  median_house_value
count  16512.000000  16512.000000  ...   16512.000000        16512.000000
mean    -119.562491     35.622912  ...       3.870188       206677.541485
std        2.004192      2.137609  ...       1.900677       115457.732747
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.782500     33.930000  ...       2.562500       119600.000000
50%     -118.490000     34.250000  ...       3.534100       179200.000000
75%     -118.000000     37.710000  ...       4.750000       264725.000000
max     -114.470000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]