<a href="https://colab.research.google.com/github/sac-1999/Pandas-Cheat-Sheet/blob/main/06_Imputer_sklearn_for_missing_records.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [163]:
import os
import tarfile
import urllib.request

In [164]:
house_url = 'https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.tgz'
HOUSING_PATH = os.path.join('datasets', 'housing')

In [165]:
def fetch_housing_data(url = house_url, housing_path = HOUSING_PATH):
  os.makedirs(housing_path , exist_ok = True)
  tgz_path = os.path.join(housing_path , 'housing.tgz')
  urllib.request.urlretrieve(house_url, tgz_path)
  housing_file = tarfile.open(tgz_path)
  housing_file.extractall(housing_path)
  housing_file.close()

In [166]:
fetch_housing_data()

In [167]:
import pandas as pd

In [168]:
def load_housing_csv(housing_path = HOUSING_PATH):
  csv_path = os.path.join(housing_path, 'housing.csv')
  return pd.read_csv(csv_path)

In [169]:
df = load_housing_csv()

In [170]:
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [171]:
df.ocean_proximity.value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [172]:
import matplotlib.pyplot as plt

In [173]:
#df.hist(bins = 40,figsize=(20,15))

In [174]:
import numpy as np
np.random.permutation(100)

array([71, 61, 46, 81, 65, 98, 94, 33, 43, 62, 59, 91, 28, 63,  9, 73, 99,
       38, 79,  6, 27, 87, 19, 36, 78, 44, 93,  0, 56, 55, 17, 70, 64, 66,
       80, 60, 26, 96, 40, 92, 90, 53, 11, 29, 82, 50, 88, 77, 14, 16, 89,
       57, 30, 48, 52, 12, 20, 76, 15, 68, 25, 41, 54, 31,  4, 95, 67, 34,
       37,  3, 75, 83, 39, 49, 74, 18, 69, 23, 47, 84, 10,  1, 42, 58, 72,
       13, 97, 35, 51, 21, 45,  5, 22,  7, 85,  2, 32,  8, 86, 24])

In [175]:
df

       longitude  latitude  ...  median_house_value  ocean_proximity
0        -122.23     37.88  ...            452600.0         NEAR BAY
1        -122.22     37.86  ...            358500.0         NEAR BAY
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20635    -121.09     39.48  ...             78100.0           INLAND
20636    -121.21     39.49  ...             77100.0           INLAND
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[20640 rows x 10 columns]

In [176]:
df['median_income_category'] = pd.cut(df['median_income'],
       bins= [0., 1.5, 3.0, 4.5, 6., np.inf],
       labels = [1,2,3,4,5])

In [177]:
df.head()

   longitude  latitude  ...  ocean_proximity  median_income_category
0    -122.23     37.88  ...         NEAR BAY                       5
1    -122.22     37.86  ...         NEAR BAY                       5
2    -122.24     37.85  ...         NEAR BAY                       5
3    -122.25     37.85  ...         NEAR BAY                       4
4    -122.25     37.85  ...         NEAR BAY                       3

[5 rows x 11 columns]

# Stratified K- Fold Split

In [178]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state = 0)
final = split.split(df,df['median_income_category'])

In [179]:
for i in final:
  print(i[0].shape, i[1].shape)
  strat_train_set = df.loc[i[0]]
  strat_test_set = df.loc[i[1]]

(16512,) (4128,)

In [180]:
new_df = strat_train_set.copy()

In [181]:
new_df.corr()

                    longitude  latitude  ...  median_income  median_house_value
longitude            1.000000 -0.924903  ...      -0.013645           -0.043236
latitude            -0.924903  1.000000  ...      -0.081262           -0.145570
housing_median_age  -0.108097  0.010784  ...      -0.113458            0.107144
total_rooms          0.041547 -0.034359  ...       0.196382            0.137469
total_bedrooms       0.065183 -0.064436  ...      -0.009282            0.053544
population           0.096933 -0.106834  ...       0.003431           -0.023797
households           0.051827 -0.069613  ...       0.011840            0.069177
median_income       -0.013645 -0.081262  ...       1.000000            0.688883
median_house_value  -0.043236 -0.145570  ...       0.688883            1.000000

[9 rows x 9 columns]

# Imputer sklearn for missing recordds

In [182]:
housing_data = new_df.drop(['median_income_category', 'median_house_value'], axis = 1)
housing_label = new_df['median_house_value'].copy()

In [183]:
housing_data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        168
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [184]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = 'median')

In [185]:
num_col = [i for i in housing_data.columns if housing_data[i].dtypes != 'object']

In [186]:
imputer.fit(housing_data[num_col])

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='median', verbose=0)

In [187]:
imputer.statistics_

array([-118.49  ,   34.25  ,   29.    , 2128.5   ,  436.    , 1167.    ,
        410.    ,    3.5341])

In [188]:
X = imputer.transform(housing_data[num_col])

In [189]:
X.shape

(16512, 8)